mixin p-photo(content, params)
  .p-photo&attributes(attributes)
    +intro-block
    +p-photo__info(content.info)
    .p-photo__gallery
      +pug-list(content.gallery, "p-photo__item")
    +p-photo__bonus(content.bonus)

mixin p-photo__info(content, params)
  .p-photo__info&attributes(attributes)
    h2.p-photo__info-title!=content.title
    .p-photo__info-text!=content.text

mixin p-photo__item(content, params)
  .p-photo__item(class=`p-photo__item_${content.class}`)&attributes(attributes)
    .p-photo__image
      img(src=content.image)
    .p-photo__item-info
      .p-photo__item-title!=content.title
      .p-photo__author Автор фото #{content.author}
      .p-photo__likes
        .p-photo__likes-icon
          include like.svg
        span #{content.likes}

mixin p-photo__bonus(content, params)
  .p-photo__bonus&attributes(attributes)
    h2.p-photo__bonus-title!=content.title
    .p-photo__bonus-text!=content.text
    +video(content.video)
